<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Username</th>
      <th>Comment</th>
    </tr>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.username %></td>
        <td><%= comment.text %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>

  <div>
    <label for="username">Username</label>
    <br />
    <input type="text" name="username" autofocus>
  </div>

  <div class="">
    <label for="text">Comment</label><br>
    <textarea name="text" id="text" cols="50" rows="8"></textarea>
  </div>

  <div class="actions">
    <button>Comment</button>
  </div>
</div>

<%= link_to 'New Comment', new_comment_path %>
